venv/
.env
__pycache__/
.ipynb_checkpoints/
agent/dev_data/ts_experiments_processing.py
agent/outputs/loan_chain.log
agent/dev_data/data/cleaned_combined_lendingclub.csv
agent/dev_data/data/cleaned_combined_lendingclub.zip
agent/dev_data/data/embeddings/
dev